*{
    user-select: none;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    font:12px/180% "Microsoft yahei", "微软雅黑" ,Tahoma, Arial, Helvetica, sans-serif, "新宋体";
}
.container{
    width: 1100px;
    margin: auto;
}
body{
    background: url("../images/bg1.jpg")center no-repeat fixed;
    /*position: fixed;*/

}